# Dependencies
node_modules/

# Next.js
.next/
out/

# Env (wird von setup.sh generiert)
.env

# Datenbank
prisma/dev.db
prisma/dev.db-journal
prisma/*.db

# Misc
.DS_Store
*.pem

/tsconfig.tsbuildinfo
